<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188376871718-6f2jr8sjs443i4r3dbrj1p1qrpg3dlln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188376871718-6f2jr8sjs443i4r3dbrj1p1qrpg3dlln</string>
	<key>API_KEY</key>
	<string>AIzaSyB7dm2fAfnm-GhkhUUIxNmH6iG61K-EzKE</string>
	<key>GCM_SENDER_ID</key>
	<string>188376871718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appdev</string>
	<key>PROJECT_ID</key>
	<string>message-kaaro</string>
	<key>STORAGE_BUCKET</key>
	<string>message-kaaro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188376871718:ios:64aa45efd588f62598c7e7</string>
</dict>
</plist>